<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Accueil</title>
</head>
<body>
    <header>
        <div class="navigation" id="navigation">
            <nav class="menu">    
                <h1>Zone de jeux</h1>
                <ul>
                    <li><a href='/'>Accueil</a></li>
                    <li><a href='/register'>Créer un compte</a></li>
                    <li><a href='/login'>Me connecter</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <main id="welcomePage" class="flex-container">
        <div class="images-container">
            <img src="/images/joystick.png" alt="imgJoystic">
        </div>

        <div class="text-container">
            <h2>Bienvenue dans notre zone de jeu en ligne !</h2>
            <p>En vous y inscrivant, vous vivrez une expérience de jeu en ligne inoubliable! Vous allez vous immerger dans un monde fascinant où l’excitation et l’aventure sont à portée de clic. Que vous soyez un joueur chevronné à la recherche de nouveaux défis ou un novice désireux d’explorer de nouveaux horizons de jeu, notre plate-forme offre une variété de jeux attrayants adaptés à tous les goûts et niveaux de compétence.</p>
            <p>Si vous voulez vous détendre après une longue journée, ce site de jeu en ligne est l’endroit idéal pour satisfaire votre passion pour les jeux en ligne. Alors, qu’attendez-vous? Commencez maintenant et laissez l’aventure commencer!</p>
            <div>
                <a href="/games" class="startButton">Commencer à jouer</a>
            </div>
        </div>

        <div class="images-container">
            <img src="/images/buttons.png" alt="imgButtons">
        </div>
    </main>

    <footer>
        <div id="footer">
            <p>Copyright &copy; Enter. Design by <strong>Allan, Guillaume, Marie, Martin et Adrien</strong> in 2024.</p>
        </div>
    </footer>

</body>
</html>