<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Connexion</title>
</head>

<body>
    <header>
        <div class="navigation" id="navigation">
            <nav class="menu">    
                <h1>Zone de jeux</h1>
                <ul>
                    <li><a href='/'>Accueil</a></li>
                    <li><a href='/register'>Créer un compte</a></li>
                    <li><a href='/login'>Me connecter</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="connexion">
            <article id="connexion">
                <form id="logInForm" class="logInForm" action="/auth/login" method="POST">
                    <h3>Connexion</h3>

                    <div class="logInForm">
                        <input type="text" id="username" name="username" placeholder="Mon nom d'utilisateur">
                        <div id="errorUsernameLogIn"></div>
                    </div>

                    <div class="logInForm">
                        <input type="password" id="passwordLogIn" name="passwordLogIn" placeholder="Mon mot de passe">
                        <div id="errorPasswordLogIn"></div>
                    </div>

                    <div class="logInForm">
                        <input type="submit" value="Valider">
                    </div>


                    <div class="logInForm">
                        <p class="link">Vous n'avez pas de compte ?</p>
                        <a href="/register">Créer un compte</a>
                    </div>
                </form>

            </article>

            {{#if message}}
            <h4 class="alert">{{message}}</h4>
            {{/if}}

        </section>
    </main>

    <footer>
        <div id="footer">
            <p>Copyright &copy; Enter. Design by <strong>Allan, Guillaume, Marie, Martin et Adrien</strong> in 2024.</p>
        </div>
    </footer>
</body>

</html>